$main-blue: #1890ff;

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  a {
    text-decoration: none;
    color: black;
  }
}

input {
  list-style: none;
  position: relative;
  padding: 4px 11px;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  height: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

textarea {
  list-style: none;
  position: relative;
  padding: 4px 11px;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.main-btn {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
  border-radius: .25rem;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.main-frame {
  width: 900px;
  margin: 0 auto;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  a {
    margin: 0px 10px;
    transition: 300ms;
    &:hover {
      color: $main-blue;
    }
  }
}

.card {
  padding: 15px;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
  margin-bottom: 20px;
  border-radius: 3px;
  transition: ease-in-out 300ms;
  &:hover {
    box-shadow: 0 2px 10px rgba(90, 97, 105, 0.11), 0 4px 18px rgba(90, 97, 105, 0.12), 0 10px 20px rgba(90, 97, 105, 0.06), 0 7px 80px rgba(90, 97, 105, 0.1);
  }
  span {
    color: grey;
    font-size: 13px;
  }
  h3 {
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

.card-detail {
  padding: 40px 15px;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
  margin-bottom: 20px;
  border-radius: 3px;
  p {
    color: grey;
    font-size: 13px;
    text-align: center;
    font-style: italic;
  }
  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding: 0px 100px;
  }
  h3 {
    padding: 0px 40px;
  }
}

.input-cell {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
  }
  input {
    display: block;
  }
  &.author {
    width: 200px;
  }
  &.title {
    width: 400px;
  }
  &.body {
    width: 400px;
  }
}

.input-password {
  display: flex;
  width: 400px;
  button {
    width: 250px;
    outline: none;
  }
}