@mixin font-roboto {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 15px !important;
  line-height: 1.5;
  scroll-behavior: smooth;
  @include font-roboto;
}